<link rel="shortcut icon" href="/static/title/hanpi.jpg">
<title>新增{{ resource_type }}</title>
<link rel="stylesheet" href="/static/tools/font.css">
<script src="/static/tools/jquery.js"></script>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jiankai', 'mofeng', 'fankai';
}
body>div{
    margin: 60px auto;
    width: 1200px;
    border: 3px solid burlywood;
    border-radius: 50px;
    box-sizing: content-box;
    padding: 25px;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.4);
}
body>video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: -9999;
    position: fixed;
    /* -webkit-filter: grayscale(50%); */
}
div>div{
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
div>h1{
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
}
div>p{
    position: absolute;
    top: 10px;
    font-size: 18px;
}
div>p:nth-child(1){
    left: 10px;
}
div>p:nth-child(3){
    right: 10px;
}
div>ul{
    list-style: none;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    align-items: center;
}
ul>li{
    width: 150px;
    text-align: center;
    height: 120px;
    padding: 10px;
    border: 1px dashed transparent;
    font-size: 20px;
    border-radius: 30px;
}
ul>li:hover{
    border: 3px dashed black;
    padding: 7px;
    cursor: pointer;
}
li>p{
    height: 20px;
}
li>img{
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}
div>form>table{
    overflow: hidden;
    /* border-collapse: collapse; */
    width: 100%;
}
tr>td:nth-child(1){
    width: 25%;
}
tr>td:nth-child(2){
    width: 75%;
}
td{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
}
tr:hover>td{
    background-color: rgba(255, 255, 255, 0.6);
}
td>img{
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}
td>input,td>select{
    width: 60%;
    height: 80%;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
}
td>input.checkbox{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
</style>

<video autoplay loop muted>
    <source  src="/static/image/game.mp4" type="video/mp4">
</video>

{% if content %}

<div>
    <div>
        <p><a href="/append/">返回目录</a></p>
        <h1>新增{{ resource_type }}</h1>
        <p><a href="/detail/{{ content }}">{{ resource_type }}图鉴</a></p>
    </div>

    <form action="/append/{{ content }}" method="POST"><table>
        {% csrf_token %}
        {% for attr in resource %}
            <tr>
                <td><label for="{{ attr.0 }}">{{ attr.1 }}</label></td>
                <td><input id="{{ attr.0 }}" name="{{ attr.0 }}"></td>
            </tr>
        {% endfor %}
        <tr><td colspan="2"><input type="submit" value="提交" id="submit"></td></tr>
    </table></form>
    <script>
        $("td>input").each(function(){
            var tr=$(this).parents("tr");
            var td={
                'name':'text','menu':'text',"type":"text",'pos':'text','id':'text',
                'cover':'file','action':'file',
                'HP':'int','MP':'int','att':'int',"gold":"int","exp":"int",
                'baoji':'float','shanghai':'float',"xiaoguo":"float","gailv":"float","run":"float",
                "floor1":"choose","floor2":"choose","floor3":"choose","floor4":"choose","floor5":"choose",
            }[$(this).attr("id")]
            switch (td){
                case "text": $(this).attr("type","text"); break;
                case "file": $(this).attr("type", "file").attr("accept",'image/jpg,image/png,image/gif,image/jpeg,image/jfif'); break;
                case "int": $(this).attr("type","number").attr("stpe",1); break;
                case "float":$(this).attr("type","number").attr("step",0.01); break;
                case "choose": var html="", name=$(this).attr("id");
                    csrf=document.getElementsByName("csrfmiddlewaretoken")[0].value;
                    $.ajax({
                        url:'/delete/monster',
                        type:'post',
                        data:"csrfmiddlewaretoken="+csrf,
                        async:false,
                        dataType:'json',
                        success:function(result){
                            var resource=result.resource;
                            var mon_list=tr.children("td").eq(0).text().split('、');
                            for (key in resource){
                                html+="<input type='checkbox' value='"+key+"' id='monster"+key+"' class='checkbox' name='"+name+"'>"+
                                      "<label for='monster"+key+"'>"+resource[key]+"</label>";
                            }
                        }
                    }); $(this).parent().html(html);
                    break;
            }
        })
        function check_submit(){
            $("#submit").removeAttr("disabled");
            $("td>input").each(function(i){
                if ($(this).val().length){}else{
                    if ($(this).attr("type")!="file"){
                        $("#submit").attr("disabled",1);
                    }
                }
            })
        }
        $("td>input").bind("input propertychange change",function(event){check_submit()});check_submit();
    </script>
</div>

{% else %}

<div>
    <h1>新增</h1>
    <ul>
        <li>
            <a href="/append/hero" target="add">新增英雄</a>
            <img src="/static/image/game.jpg" alt="英雄">
        </li>
        <li>
            <a href="/append/equipment" target="add">新增装备</a>
            <img src="/static/image/game.jpg" alt="装备">
        </li>
        <li>
            <a href="/append/consumable" target="add">新增消耗品</a>
            <img src="/static/image/game.jpg" alt="消耗品">
        </li>
        <li>
            <a href="/append/map" target="add">新增地图</a>
            <img src="/static/image/game.jpg" alt="地图">
        </li>
        <li>
            <a href="/append/monster" target="add">新增怪物</a>
            <img src="/static/image/game.jpg" alt="怪物">
        </li>
    </ul>
</div>

<script>
    $("li").click(function(){
        location.href=$(this).children("a").attr('href');
    })
</script>

{% endif %}